
.stream-AnimeInformation{
    width:100%;
    height:600px;
    background-color: var(--clr--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: relative;
    top:65px;
    font-family: "Poppins";
    transition: 0.5s ease;
    gap:30px;
}
.stream-InfoContainer{
    width:65%;
    height: 600px;
    display: flex;
    flex-direction: column;
}
.stream-table{
    width:35%;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
    transition: 1s ease;
    color: white;
}
.stream-tableData{
    width:100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.stream-AnimeDetails{
    width:100%;
    height: 100px;
    border-top: 1px solid var(--clr--primary-color);
    border-bottom:1px solid var(--clr--primary-color);
    display: flex;
    justify-content: center;
    flex-direction: column;
    color:white;
    padding: 0px 10px;
}
.stream-AnimeDetails h3{
    color:grey;
    font-weight: 400;
}
.stream-AnimeCard{
    width:100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    border-bottom:1px solid var(--clr--primary-color);
    color:white;
    gap:30px;
}
.stream-AnimeCard-Details{
    width:100%;
    height: 250px;
    display: flex;
    gap: 10px;
    padding: 10px;
    margin-top:10px;
}
.stream-Image{
    width:20%;
    height: 100%;
    border-radius: 10px;
}
.stream-Informations{
    width:80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
.stream-status{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
}
.stream-Data{
    display: flex;
    gap:5px;
}
.stream-status ion-icon{
    font-size: 5px;
}
.stream-Value{
    color:grey;
}
#icon{
    font-size: 18px;
}
.stream-status div{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
.stream-Description{
    width:98%;
    height: 100px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid purple;
}
.stream-genres{
    display: flex;
    align-items: center;
    width: 50%;
    height: 50px;
    gap:20px;
}
.genres-item{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 5px;
    min-width:20%;
    height: 70%;
    border: 1px solid purple;
    border-radius: 10px;
}
