
.TableContainer{
    width:100%;
    position: relative;
    top:140px;
    display: flex;
    font-family: "Poppins";
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    color: white;
    gap: 20px;
}
.Table-Skeleton{
    width:90%;
    min-height: 600px;
}
.Table{
    width:46%;
    background-color:var(--clr--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:15px;
    padding: 20px 0px;
    border-radius: 10px;
}

.Row{
    width:90%;
    height: 100px;
    background-color:var(--clr--secondary-color);
    display: flex;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
}
.Animeimage{
    width:14%;
    height: 100%;
    border-radius: 10px;
}
.AnimeDetails{
    display: flex;
    flex-direction: column;
    width:85%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.AnimeIcons{
    width:85%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#908e9b;
}
.ItemDiv{
    min-width:20%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
}
.Titles{
    width:80%;
    font-size: 16px;
    text-align: center;
    color:white;
}