
  
  .BtnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width:100%;
    height: 100px;
    margin-top: 75px;
  }
  .btns{
    width:10%;
    background-color: rgb(228, 19, 247);
    height: 40%;
    border-radius: 5px;
    display: grid;
    place-items: center;
    color: white;
  }