.CharacterContainer{
    width:100%;
    min-height:1500px;
    display: flex;
    justify-content: space-evenly;
    font-family: "Poppins";
    padding: 10px 0px;
}
.CharacterTable{
    width:45%;
    height:95%;
    background-color: #302e2ec0;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    color:white;
    padding: 10px 0px;
}

.CharacterRow{
    width:93%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:100px;
    border-radius: 10px;
    background-color: #302e2ec0;
    padding: 10px;
}
.CharacterImage{
    object-fit: cover;
    width:15%;
    height: 95%;
    border-radius: 20px;
}
.CharacterInfo{
    width:70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.CharacterName{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.CharacterName h4{
    color:grey;
    font-weight: 400;
    font-size: 15px;
}
.CharacterName h3{
    color:white;
}