.CharacterContainer{
    width:100%;
    display: flex;
    justify-content: space-evenly;
    font-family: "Poppins";
    padding: 10px 0px;
    margin-top: 10px;
}
.CharacterTable{
    width:45%;
    height:95%;
    background-color:var(--clr--primary-color);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    color:var(--clr--text-color);
    padding: 10px 0px;
}
.CharacterTable h1{
    width: 95%;
}
.CharacterRow{
    width:93%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:100px;
    border-radius: 10px;
    background-color: var(--clr--secondary-color);
    padding: 10px;
}
.CharacterImage{
    object-fit: cover;
    width:15%;
    height: 95%;
    border-radius: 20px;
}
.CharacterInfo{
    width:70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.CharacterName{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:var(--clr--text-color);
}

.Voice-Actors{
    color: grey;
    font-style: italic;
    font-weight: 500;
}
@media only screen and (max-width:768px){
    .CharacterContainer{
        flex-direction: column;
        align-items: center;
    }
    .CharacterTable{
        width:95%; 
        height: min-content;
    }
    .CharacterTable h1{
        width: 95%;
        font-size: 20px;
    }
    .CharacterRow{
        width:95%;
        height: 50px;
    }
    .CharacterName{
        font-size: 10px;
    }
    .CharacterImage{
        width:50px;
        height: 50px;
        border-radius:50px;
    }
}