

.DescriptionContainer{
    width:100%;
    min-height:200px;
    margin-top: 85px;
    display: grid;
    place-items: center;
    font-family: "Poppins";
}
.Description{
    width:95%;
    min-height:90%;
    background-color:var(--clr--primary-color);
    border-radius: 20px;
    display: grid;
    place-items: center;
    color:white;
}
.Description p{
    padding: 10px;
    font-size: 18px
}
