

.EpisodesWrapper{
    width:45%;
    height: 480px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
.EpisodesWrapper h1{
    font-size: 30px;
    color:var(--clr--text-color);
}
.EpisodesInfo p{
    font-size: 16px;
    font-weight: 500;
    color:grey;
}
.EpisodesRow{
    width:100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height:100px;
    background-color: var(--clr--secondary-color);
    border-radius: 10px;
    transition: 0.5s ease;
    color:var(--clr--text-color);
    gap: 10px;
}
.ActiveRow{
    border: 1px solid black;
    transition: 0.5s ease;
    opacity: 0.5;
}
.EpisodeImage{
    object-fit: cover;
    min-width:40%;
    height: 100%;
    border-radius: 10px;
}
.EpisodesInfo{
    width:60%;
    height: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    
}

.EpisodesRow:hover{
    transform: scale(0.95);
    background-color: rgba(78, 73, 73, 0.435);
}
.EpisodesRow:active{
    transform: scale(0.80);
}