

.EpisodesWrapper{
    width:45%;
    height: 480px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 10px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
.EpisodesWrapper h1{
    font-size: 30px;
    color:white;
}
.EpisodesInfo p{
    font-size: 16px;
    font-weight: 500;
    color:grey;
}
.EpisodesRow{
    width:100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height:25%;
    background-color: #302e2ec0;
    border-radius: 10px;
    gap:10px;
    transition: 0.5s ease;
    color:white;
}
.ActiveRow{
    border: 1px solid white;
    transition: 0.5s ease;
    opacity: 0.5;
}
.EpisodeImage{
    object-fit: cover;
    min-width:40%;
    height: 100%;
    border-radius: 10px;
}
.EpisodesInfo{
    width:60%;
    height: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    
}

.EpisodesRow:hover{
    transform: scale(0.95);
    background-color: #464141;
}
.EpisodesRow:active{
    transform: scale(0.80);
}