
*{
    padding: 0;
    margin: 0;
}
.header{
    background-color: rgba(0, 0, 0, 0.074);
    width: 100%;
    height:65px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 100;
    backdrop-filter: blur(5px);
    font-family: "Poppins";
}

.box1{
    height: 40px;
    width:50%;
    display: flex;
    justify-content: center;
    gap:10px;
}

.Heading{
    font-weight: 600;
    color: var(--clr--text-color);
    font-size: 25px;
    text-align: center;
}
.Letter-A{
    font-size: 45px;
    color:var(--clr--Letter-color);
    font-weight: 700;
}

.SearchContainer{
    background-color:var(--clr--other-color);
    min-height:35px;
    width:390px;
    color:var(--clr--text-color);
    font-size: 14px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding:0px 5px;
    padding-top: 5px;
    box-shadow: inset 0px 0px 1px;
}

.SearchList{
    background-color: var(--clr--other-color);
    width: 100%;
    min-height:300px;
    overflow-y: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
    transition: 0.5s ease;
    margin-top: 7px;
    box-shadow: inset 0px 0px 1px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap:10px;
    flex-direction: column;
    padding: 7px;
    padding-top: 15px;
    margin-left: -7px;
}
.SearchItem{
    height: 70px;
    width:95%;
    background-color:var(--clr--header-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    border-radius: 5px;
    box-shadow:inset 0px 0px 2px grey;
}
.SearchItem h4{
    width:80%;
    color:var(--clr--text-color)
}
.SearchItemImage{
    height: 70px;
    width:55px;
    object-fit: cover;
    border-radius: 5px;
}
.SearchItemInfo{
    width:80%;
    display: flex;
    flex-direction: column;
}
.Item-AnimeIcons{
    display: flex;
    align-items: center;
    gap:20px;
    color: var(--clr--text-color);
    padding: 5px;
}
.Search-ItemDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.SearchBox{
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    height:40px;
    width:100%;
    padding: 5px 0px;
}
.SearchResults{
    position: absolute;
    bottom: -24px;
    left: 17%;
    background-color:var(--clr--secondary-color);
    width:51.3%;
    box-shadow: inset 0px 0px 1px;
    height: min-content;
    z-index: 100;
}
.Search{
    color:var(--clr--text-color);
    font-size: 14px;
    outline: none;
    border:none;
    width:70%;
    background-color: transparent;
}
.box2{
    height: 60%;
    width:120px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}
.icons{
    height:40px;
    width:40px;
    border-radius: 5px;
    background-color: var(--clr--other-color);
    justify-content: center;
    align-items: center;
    display: flex;
    color:var(--clr--text-color);
    box-shadow: inset 0px 0px 1px;
}
.searchIcon{
    color:var(--clr--text-color);
    font-size: 18px;
}
.SnowIcon{
    color:var(--clr--text-color);
    font-size: 18px;
}

@media only screen and (max-width:768px){
    .SearchContainer{
        display: none;
    }
    .header{
        justify-content: center;
        gap:10px;
    }
    .box1, .box2{
        width: min-content;
    }
    .Heading{
        font-size: 25px;
        width:40%;
        text-align: left;
    }
}