
.InfoRow{
    width:95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:50px;
    font-size: large;
    font-weight: 700;
}
.InfoTitle{
    color:white;
    width:40%;
    display: flex;
}
.InfoValue{
    color:white;
    width:40%;
    display: flex;
    justify-content: end;
}
.Icon{
    width:20%;
    height: 100%;
    font-size: 30px;
    color:grey;
    display: grid;
    place-items: center;
}