:root {
  --clr--primary-color: #302e2ec0;
}

.SliderContainer{
  width:100%;
  display: grid;
  place-items: center;
}
.embla {
  height: 350px;
  overflow: hidden;
  width: 93%;
  position: relative;
  top: 65px;
  border-radius: 10px;
  font-family: "Poppins";
}
.Slider-Skeleton{
  width: 100%;
  min-height: 700px;
}
.embla__container {
  display: flex;
  width: 100%;
  height: 100%;
  
}
.embla__slide {
  flex: 0 0 100%;
}

.SliderImage{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gradient {
  width: 100%;
  height: 400px;
  background: linear-gradient(
    rgba(0, 0, 0, 0.208),
    rgba(0, 0, 0, 0.6),
    rgb(0, 0, 0)
  );
  position: absolute;
  top: 0;
}
.sliderInfo {
  height: 50%;
  width: 100%;
  position: absolute;
  bottom: 20px;
  justify-content: space-between;
  display: flex;
  align-items: flex-end;
  color: var(--clr--text-color);
}
.rightBox {
  width: 40%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 0px 30px;
}

.iconsBox {
  width: 240px;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.315);
  border-radius: 10px;
  box-shadow: 0px 0px 10px black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  backdrop-filter: blur(5px);
}

.icon {
  display: flex;
  text-align: center;
  gap: 4px;
}

.iconStyle {
  font-size: 14px;
  margin-top: 3px;
}

.info {
  min-width: 40%;
  height: 40%;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 20px;
}

.btn {
  width: 155px;
  height: 50px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.323);
  box-shadow: 0px 0px 10px black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  backdrop-filter: blur(5px);
  text-decoration: none;
}

.iconStyles {
  font-size: 24px;
  color:var(--clr--text-color);
}
p {
  font-size: 14px;
  color:var(--clr--text-color);
}

@media only screen  and (max-width: 768px) {
  .embla{
    height: 280px;
    width: 95%;
    border-radius: 5px;
  }
  .description{
    display: none;
  }
  .sliderInfo{
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: min-content;
    margin-left: -20px;
    gap: 5px;
  }
  .rightBox h1{
    font-size: 18px;
    
  }
  .rightBox{
    height: 100px;
    width: 100%;
    justify-content: flex-end;
    margin-bottom: 15px;
  }
  .info{
    height:30px;
    margin-left: 30px;
  }
  .btn{
    width: 120px;
    height: 40px;
    border-radius: 10px;
  }
}