
body{
    overflow-x: hidden;
}
.Player{
    width:53%;
    height:480px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-left: 10px;
}
.StreamingContainer{
    width:100vw;
    height:500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr--background-color);
    position: relative;
    top:65px;
}

.EpisodesWrapper{
    width:45%;
    height: 480px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
.EpisodesWrapper h1{
    font-size: 30px;
    color:var(--clr--text-color);
}
.EpisodesInfo p{
    font-size: 16px;
    font-weight: 500;
    color:grey;
}
.EpisodesRow{
    width:100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height:100px;
    background-color: var(--clr--secondary-color);
    border-radius: 10px;
    transition: 0.5s ease;
    color:var(--clr--text-color);
    gap: 10px;
}
.ActiveRow{
    border: 1px solid black;
    transition: 0.5s ease;
    opacity: 0.5;
}
.EpisodeImage{
    object-fit: cover;
    width:40%;
    height: 100%;
    border-radius: 10px;
}
.EpisodesInfo{
    width:60%;
    height: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.EpisodesRow:hover{
    transform: scale(0.95);
    background-color: rgba(78, 73, 73, 0.435);
}
.EpisodesRow:active{
    transform: scale(0.80);
}

@media only screen and (max-width: 768px){
    .StreamingContainer{
        flex-direction: column;
        gap:10px;
    }
    .Player{
        width:100%;
        height: 300px;
        margin-left: 0;
    }
    .EpisodesWrapper{
        width: 90%;
        height: 250px;
    }
    .EpisodesRow{
        height: 100px;
    }
    .EpisodesInfo p{
        font-size: 12px;
    }
}